<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <entry key="base_package">{{base_package}}</entry>
    <!--配置实体包路径-->
    <entry key="base_entity_package">{{base_entity_package}}</entry>
    <!--配置mybatis Mapper包路径-->
    <entry key="base_mapper_package">{{base_mapper_package}}</entry>

</properties>